.container {
	width:100%;
	min-height: 700px;
	border-style:solid;
	border-color:#e6e6e6;
	border-width: 1px;
	background: #FFF9F0;
	-webkit-box-shadow: 3px 5px 8px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    3px 5px 8px rgba(50, 50, 50, 0.65);
	box-shadow:         3px 5px 8px rgba(50, 50, 50, 0.65);
}

#header {
	width:205px;
	margin-left: auto;
	margin-right: auto;
}

#subheader {
	width:320px;
	font-size:.85em;
	margin-left: auto;
	margin-right: auto;
}

#estimate-header {
	width:260px;
	margin-left: auto;
	margin-right: auto;
}

#loading {
	background-image: url('../loading.gif');
	background-repeat: no-repeat;
	width: 250px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

.pricing-table * {
	line-height: .22;
}

.popover-content {
	font-size: 1em;
	line-height: 1.1;
	width: 280px;
}

.pricing-table .bullet-item {
	text-align:left;
}

.pricing-table .price {
	font-size:1.05em;
}

.suite {
	font-size: .89em;
	display: inline;
	text-decoration: none;
	border-bottom: 1px dotted;
}

.suite:hover {
	cursor: pointer;
}

@media only screen
.row .column, .row .columns {
	padding: .15em;
}

.row .column, .row .columns {
	padding: .18em;
}

.count {
	font-size: .89em;
	font-weight: 600;
	display: inline;
	color: rgb(36, 139, 169);
}
